.hero-bgr {
    background-image: url("./images/hero-image.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.ascii-display {
    margin: 20px;
    line-height: 2px;
    font-family: 'Courier New', Courier, monospace;
    white-space: nowrap;
    font-weight: bold;
    font-size: 20px;
}