{% extends 'base.html' %}
{% block content %}

<section>
    <p>upload image here</p>
    <form method='POST' class="pure-form" enctype="multipart/form-data">
        <h1>Edit Your Bakery Store</h1>
        <fieldset>

            <label for="image">Image</label>
            <div>
                <input type="file" id="image" name="image" accept="image/*" value="{{image}}" multiple="false">
            </div>

            <input type="submit" class="submit" value="Submit!">

            {% for message in get_flashed_messages() %}
            <p class="errorText">{{message}}</p>
            {% endfor %}
            </div>
        </fieldset>
    </form>
</section>

<section>
    <div class="ascii-display">
        <p>{{asciiImage}}</p>
    </div>
</section>

{% endblock content %}