{% extends 'base.html' %}
{% block content %}

<section>
    <div class="jumbotron hero-bgr border-0 rounded-0 bg-light m-0 text-white">
        <div class="row">
            <div class="offset-1 col-10">
                <h1 class="display-4 text-dark">Create Your Ascii Masterpiece Today</h1>
                <p class="lead text-dark">Here is some placeholder text</p>
                <a class="btn btn-primary btn-lg" href="/convert" role="button">Start Now</a>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container pb-5 pt-4 col-12">
        <div class="offset-1 col-10">
            <div class="pb-4">
                <h2>What, How, Why?</h2>
                <p>Learn about ascii art, what it is, and how this website can help.</p>
            </div>
            <div class="row">
                <div class="col-lg-4 col-12 mt-2">
                    <p>start description here</p>
                </div>
            </div>
        </div>
</section>

</div>
</section>

{% endblock content %}