{% extends 'base.html' %}
{% block content %}

<section>
    <div class="jumbotron hero-bgr border-0 rounded-0 bg-dark m-0 text-white">
        <div class="row">
            <div class="offset-md-2 col-md-8 hero-text">
                <div class="col-10 offset-1">
                    <h1 class="display-4 text-white">Create Your Ascii Masterpiece Today</h1>
                    <p class="lead text-white">Bring your art to its fullest potential with our advanced customization.
                    </p>
                    <a class="btn btn-primary btn-lg" href="/convert" role="button">Start Now</a>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container pb-5 pt-4 col-12 bg-light">
        <div class="offset-3 col-6">
            <div>
                <h2 class="text-center display-4">What, How, Why?</h2>
                <hr>
                <h2>What is ASCII art? </h2>
                <ul>
                    <li>
                        <p class="aboutText">ASCII art consists of an image created using only text characters. </p>
                        <p>You can learn more about ASCII art <a
                                href="https://www.computerhope.com/jargon/a/asciiart.htm" target="_blank">here</a>.
                        </p>
                    </li>
                </ul>
                <h2>How does it work?</h2>
                <ul>
                    <li>
                        <p class="aboutText">ASCII art is created by breaking down an image into groups of pixels.
                            Each of those pixels is then converted into a character to be put strung back together into
                            an image.</p>
                        <p>Find out more about how ASCII art is made <a
                                href="https://en.wikipedia.org/wiki/ASCII_art#:~:text=Most%20ASCII%20art%20is%20created,for%20screen%20and%20printer%20displays."
                                target="_blank">here</a>.
                        </p>
                    </li>
                </ul>
                <h2>What's the point?</h2>
                <ul>
                    <li>
                        <p class="aboutText">ASCII art was used in the early days of computers to depict images when the
                            graphics power to draw actual images wasn't avaliable. ASCII art is a fun throwback to the
                            origins of computers, and it has a distinct, fun look.</p>
                        <p>You can learn more about the history of ASCII art <a
                                href="https://thenewstack.io/surprisingly-rich-history-ascii-art/"
                                target="_blank">here</a>.
                        </p>
                    </li>
                </ul>
            </div>
        </div>
</section>

</div>
</section>

{% endblock content %}