{% extends 'base.html' %}
{% block content %}

<section>
    <div class="col-12 py-5">
        <h1 class="text-center">Color and Text Settings</h1>
        <div class="col-md-8 offset-md-2 col-lg-4 offset-lg-4">
            <form class="form-group"></form>

            <p class="text-center">Font Settings</p>

            <!-- font family dropdown -->
            <label for="font-family">Font:</label>
            <select id="font-family" class="form-control mb-3">
                <option value="1">Source Code Pro</option>
                <option value="2">Courier New</option>
                <option value="3">DM Mono</option>
                <option value="4">Space Mono</option>
            </select>

            <!-- font weight range slider -->
            <label for="font-weight">Font Weight:</label>
            <input type="range" min="100" max="900" value="400" step="100" class="slider mb-3" id="font-weight">

            <p class="text-center mt-4">Color Settings</p>

            <div class="color-settings">

                <div class="setting-toggle-wrapper">
                    <label for="setting-toggle-color">Font Color:</label>
                    <div class="setting-toggle" id="setting-toggle-color">

                        <!-- setting toggle button -->
                        <div class="setting-toggle-button setting-toggle-button-select" id="font-color-toggle">Color
                        </div>

                        <!-- color picker -->
                        <div class="color-picker col-8">
                            <input type="color" id="text-color" class="ml-2 color-input col-12 hidden">
                        </div>
                    </div>
                </div>


                <div class="color-picker">
                    <label for="background-color">Background Color: </label>
                    <input type="color" id="background-color" value="#ffffff" class="ml-2 color-input col-12">
                </div>
            </div>

            <p class="text-center mt-4">Export Your Art</p>
            <div>

                <div class="export-button" id="image-download"><i class="material-icons mr-2"
                        id="upload-icon">image</i>Download As
                    Image
                </div>
                <p class="hidden pb-4" id="image-download-prompt">Please allow up to a minute for your image to process
                    and
                    download. Do not kill the page.</p>

                <div class="export-button" id="clipboard-copy"><i class="material-icons mr-2"
                        id="upload-icon">content_copy</i>Copy Text To
                    Clipboard
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="ascii-display-container">
        <div class="ascii-display">
            {% for row in asciiImage %}
            <p>{% for pixel in row %}<span style="color: rgb{{pixel.color}}">{{pixel.char}}</span>{% endfor %}</p>
            {% endfor %}
        </div>
    </div>
</section>

{% endblock content %}

{% block scripts %}
<!-- html2 canvas for saving ascii text div as an image -->
<script type="text/javascript" src="../static/html2canvas.js"></script>
<!-- custom js -->
<script type="text/javascript" src="../static/view-settings.js"></script>
{% endblock scripts %}