{% extends 'base.html' %}
{% block content %}

<section>
    <div class="col-12 py-5">
        <h1 class="text-center">Color and Text Settings</h1>
        <div class="col-4 offset-4">
            <form class="form-group"></form>

            <p class="text-center">Font Settings</p>
            <!-- font weight range slider -->
            <label for="font-weight">Font Weight:</label>
            <input type="range" min="100" max="900" value="400" step="100" class="slider mb-3" id="font-weight">

            <label for="font-family">Font:</label>
            <select id="font-family" class="form-control mb-3">
                <option value="1">Source Code Pro</option>
                <option value="2">Courier New</option>
                <option value="3">DM Mono</option>
                <option value="4">Space Mono</option>
            </select>

            <p class="text-center mt-4">Color Settings</p>

            <div class="color-settings">
                <div class="color-picker mb-4">
                    <label for="text-color">Text Color: </label>
                    <input type="color" id="text-color" class="ml-2 color-input col-12">
                </div>
                <div class="color-picker">
                    <label for="background-color">Background Color: </label>
                    <input type="color" id="background-color" value="#ffffff" class="ml-2 color-input col-12">
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="ascii-display-container">
        <div class="ascii-display">
            {% for row in asciiImage %}
            <p>{% for pixel in row %}<span style="color: rgb{{pixel.color}}">{{pixel.char}}</span>{% endfor %}</p>
            {% endfor %}
        </div>
    </div>
</section>

{% endblock content %}

{% block scripts %}
<script type="text/javascript" src="../static/view-settings.js"></script>
{% endblock scripts %}